*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /*Chamando fonte*/
    font-family: "Ubuntu",sans-serif;
    font-size: 12px;

    /* Bordas View */
    border: solid 1px #fe02d0  ;
}
/* Layout App */
.container-pai{
    width: 200px;
    height: 200px;

    /* FlexBox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* config botões */
.container-button{
    width: 160px;
    padding: 5px;
   /*  gap: 2px; */

    /* FlexBox */
    display: flex;
    justify-content: space-evenly;
}
.btn{
    cursor: pointer;
   /*  width: 77px; */
    padding: 3px;
    border-radius: 3px;
}

/* Desafio para Turma B */
/* Cabeçalho */
/* Resultado */
/* Rodapé */
